<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments :: head"></head>
	<head><link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"></head>
	<body style="padding: 0">
		<div th:replace="fragments :: navbar" ></div>
		
		<main role="main">
			<div class="container">
				<form class="form-signin" th:action="@{/auth}" th:object="${user}" method="post">
					<h2 class="form-signin-heading" style="text-align: center">Please Sign In/Up</h2>
					<p>
						<label for="username" class="sr-only">Username</label>
						<input th:field="*{username}" th:errorclass="is-invalid" class="form-control" placeholder="Username" />
						<small th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="invalid-feedback"></small>
					</p>
					<p>
						<label for="password" class="sr-only">Password</label>
						<input th:field="*{password}" th:errorclass="is-invalid" class="form-control" placeholder="Password" type="password" />
					</p>
					<div style="display: flex; justify-content: space-between">
						<button class="btn btn-lg btn-primary" name="type" value="in" type="submit" style="flex-grow: 0.95">Sign In</button>
						<button class="btn btn-lg btn-success" name="type" value="up" type="submit">Sign Up</button>
					</div>
				</form>
			</div>
		</main>
		
		<div th:replace="fragments :: footer"></div>
	</body>
</html>
