<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: navbar" ></div>

<!--/*@thymesVar id="cart" type="java.util.Map<com.carolinafintechhub.ecommerce.Product, java.lang.Integer>"*/-->
<!--/*@thymesVar id="total" type="java.lang.Double"*/-->
<main role="main">
    <div class="container"style="margin-top: 20px">
        <div class="row">
            <table class="table bg-dark" style="color: white">
                <thead>
                <tr>
                    <th>Image</th>
                    <th>Item</th>
                    <th>Amount</th>
                    <th>Price</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
	            
	            <!--/*@thymesVar id="product" type="com.carolinafintechhub.ecommerce.Product" */-->
	            <tr th:each="item : ${cart}" th:with="product = ${item.key}">
                    <td style="width: 10%; padding-left: 0"><img th:src="@{|/images/${product.image}|}" style="width: 100%; max-height: 80px"/></td>
                    <td th:text="${product.name}"></td>
                    <td>
                        <input type="hidden" name="id" th:value="${product.id}" form="updateForm"/>
                        <input type="number" name="quantity" min="0" th:value="${item.value}" form="updateForm"/>
                    </td>
                    <td style="color: goldenrod" th:text="${#numbers.formatCurrency(product.price * item.value)}"></td>
                    <td>
                        <form th:action="@{/cart}" method="post" style="display: inline">
                            <input type="hidden" name="_method" value="DELETE" />
                            <input type="hidden" name="id" th:value="${product.id}" />
	                        <input type="hidden" name="quantity" value="0">
                            <button class="btn btn-danger" style="display: inline" type="submit"><i class="fas fa-trash-alt"></i></button>
                        </form>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td></td>
                    <td style="font-size: x-large">Total</td>
                    <td></td>
                    <td style="color: goldenrod; font-size: x-large" th:text="${#numbers.formatCurrency(total)}"></td>
                    <td></td>
                </tr>
                </tfoot>
            </table>

            <form th:action="@{/cart}" method="post" id="updateForm" th:if="${cart.size() > 0}">
                <!-- form doesn't support PATCH requests, but this tells Spring Boot to use @PatchMapping anyway. -->
                <input type="hidden" name="_method" value="PATCH" />
                <button type="submit" class="btn btn-info">Update Cart<i class="fas fa-sync-alt" style="margin-left: 10px"></i></button>
            </form>
	        <form th:action="@{/cart/checkout}" method="post" th:if="${cart.size() > 0}" style="margin-left: 80%">
		        <!--/*@thymesVar id="publicKey" type="java.lang.String"*/-->
		        <script
			        src='https://checkout.stripe.com/checkout.js'
			        class='stripe-button'
			        th:attr='data-key=${publicKey}, data-amount=${total * 100}'
			        data-name='E & B Tech'
			        data-description='Tech Co. Checkout'
			        data-image='/images/icon.jpg'
			        data-locale='auto'
			        data-zip-code='false'
					data-label='Pay Now'
					>
		        </script>
	        </form>
            <div th:if="${cart.size() == 0}" style="color: white; text-align: center; width: 100%">Nothing in your cart yet.</div>
        </div>
    </div>
</main>
</body>
<div th:replace="fragments :: footer"></div>
</html>
