<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: navbar" ></div>

<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div id="top" class="jumbotron" style="color: white">
        <div class="container">
            <h1 class="display-3">E & B Tech Store</h1>
            <p>This is a small e-commerce application that allows the user to purchase some of a few products that are offered here. </p>
            <p><a class="btn btn-primary btn-lg" href="/about" role="button">Learn more &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <div class="row">
	        <div class="col-3" th:each="product : ${products}">
                <div class="card bg-dark" style="color: white; border-radius: 5%; height: 425px">
                    <img class="card-image-top" th:src="@{|/images/${product.image}|}" style="height: 40%; width: 90%; margin-left: 10px; margin-top: 5px" alt="Card image cap">
                    <div class="card-body" style="width: 100%">
                        <h5 class="card-title" th:text="${product.name}"></h5>
                        <small class="card-text" th:text="${product.brand}"></small>
                        <p class="card-text" th:text="${product.description}"></p>
                        <h2 class="card-text" style="color: goldenrod"><span th:text="${#numbers.formatCurrency(product.price)}"></span></h2>
                    </div>
                </div>
				<div class="card bg-dark" style="margin-bottom: 60px;margin-left: 15% ;display: flex; max-width:max-content ">
					<form th:action="@{/cart}" method="post">
						<input type="hidden" name="id" th:value="${product.id}" style="display: flex; justify-content: space-between;">
						<button type="submit" class="btn btn-success" style="flex-grow: 0.95">Add to Cart<i class="fas fa-cart-plus fa" style="margin-left: 10px"></i></button>
						<a th:href="@{|/product/${product.id}|}" class="btn btn-info"><i class="fas fa-info" style="color: white"></i></a>
					</form>
				</div>
            </div>
        </div>
    </div>
</main>
</body>
<div th:replace="fragments :: footer"></div>
</html>
